################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.cache
*.lref
/DarkStyle/obj/Debug/GeneratedInternalTypeHelper.g.cs
/DarkStyle/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/DarkStyle/obj/Debug
/LightCheatEngine/obj/Debug
/PakTool/obj/Debug
/WPFTrainner/.vs/WPFTrainner/v16
/WPFTrainner/WPFTrainner/obj/Debug
*.htm
/DarkStyle/bin/Debug
/IZFormatSetter/IZFormatSetter/bin/Debug
/IZFormatSetter/IZFormatSetter/obj/Debug
/LightCheatEngine/bin/Debug
/PakTool/bin/Debug
/PVZClass/PVZClass/bin/Debug
/PVZClass/PVZClass/obj/Debug
/PVZScript/PVZScript/bin/Debug
/PVZScript/PVZScript/obj/Debug
/PVZTools/bin/Debug
/PVZTools/obj/Debug
/WPFTrainner/ITrainerExtension/bin/Debug
/WPFTrainner/ITrainerExtension/obj/Debug
/WPFTrainner/WPFTrainner/bin/Debug
/DarkStyle/obj/Release
/PakTool/obj/Release
/LightCheatEngine/obj/Release
/IZFormatSetter/IZFormatSetter/obj/Release
/WPFTrainner/WPFTrainner/obj/Release
/PVZTools/obj/Release
/PVZScript/PVZScript/obj/Release
/PVZClass/PVZClass/obj/Release/TempPE
/PVZScript/PVZScript/bin/Release
/PVZClass/PVZClass/obj/Release
/PVZClass/PVZClass/bin/Release
/PakTool/bin/Release
/LightCheatEngine/bin/Release
/IZFormatSetter/IZFormatSetter/bin/Release
/DarkStyle/bin/Release
/Setup/Release
/PVZTools/bin/Release
/WPFTrainner/ITrainerExtension/obj/Release
/WPFTrainner/ITrainerExtension/bin/Release
/WPFTrainner/WPFTrainner/bin/Release
*.log
Setup/Debug/setup.exe
Setup/Debug/Setup.msi
